<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        margin: 0;
        font-size: 20px;
      }
      .sender {
        text-align: end;
        padding-right: 40px;
      }
      .recepient {
        text-align: start;
        padding-left: 40px;
      }
      .connecteduser {
        color: #333;
        text-align: center;
      }
      #sendarea {
        width: 850px;
        height: 40px;
        font-size: 20px;
      }
      .sendBtn {
        width: 80px;
        height: 48px;
        background-color: darkslategray;
        color: palegoldenrod;
        font-size: 15px;
        font-weight: bold;
      }
      .time {
        font-size: 15px;
        color: #333;
      }
    </style>
  </head>
  <body>
    <div style="width: 100%">
      <div class="connecteduser">
        You are chatting with
        <span style="color: darkred"><%= receiver.name %></span>
      </div>
      <div id="messageArea" style="overflow-y: scroll; height: 68dvh">
        <% chats.forEach((chat) => { %> <% if (chat.sender == user.id) { %>
        <div class="sender">
          <p>
            <%= chat.message %> <br /><span class="time"
              ><%= chat.createdAt.toLocaleTimeString() %></span
            >
          </p>
        </div>
        <% } else if (chat.sender == receiver.id) { %>
        <div class="recepient">
          <p>
            <%= chat.message %> <br /><span class="time"
              ><%= chat.createdAt.toLocaleTimeString() %></span
            >
          </p>
        </div>
        <% } %> <% }) %>
      </div>
      <div style="position: fixed; margin: 40px; bottom: 10px">
        <input id="sendarea" type="text" />
        <button class="sendBtn" onClick="submitHandler()">Send</button>
      </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io();
      function submitHandler() {
        const message = document.getElementById('sendarea');
        const messageArea = document.getElementById('messageArea');
        const para = document.createElement('p');
        const time = document.createElement('span');
        para.setAttribute('class', 'sender');
        time.setAttribute('class', 'time');
        let t = new Date();
        t = t.toLocaleTimeString();
        para.innerHTML = message.value;
        time.innerHTML = t;
        para.appendChild(document.createElement('br'));
        para.appendChild(time);
        messageArea.appendChild(para);
        socket.emit('chat', {
          message: message.value,
          sender: '<%= user._id %>',
          receiver: '<%= receiver._id %>',
        });
        message.value = '';
        document.getElementById('sendarea').focus();
      }
      var messageDiv = document.getElementById('messageArea');
      messageDiv.scrollTop = messageDiv.scrollHeight;
      socket.on('receivedChat', (data) => {
        const { sender, receiver, message, createdAt } = data;
        const userId = '<%= user._id %>';
        if (userId == receiver) {
          const messageArea = document.getElementById('messageArea');
          const para = document.createElement('p');
          const time = document.createElement('span');
          para.setAttribute('class', 'recepient');
          time.setAttribute('class', 'time');
          let t = new Date();
          t = t.toLocaleTimeString();
          para.innerHTML = message;
          time.innerHTML = t;
          para.appendChild(document.createElement('br'));
          para.appendChild(time);
          messageArea.appendChild(para);
          location.reload();
        }
      });
    </script>
  </body>
</html>
