<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <style>
      * {
        margin: 0;
      }

      body {
        margin: 0 auto;
      }

      .header {
        display: flex;
        align-items: center;
        background: #333;
        justify-content: space-between;
      }

      .navbar {
        display: flex;
      }

      .header > h1 {
        margin-left: 20px;
        color: white;
      }

      .navbar > ul {
        display: flex;
        gap: 2rem;
        margin: 20px;
      }

      .navbar > ul > li {
        list-style: none;
      }

      .navbar > ul > li > a {
        text-decoration: none;
        color: white;
        padding: 2%;
      }

      .navbar > ul > li > a:hover {
        color: dodgerblue;
      }

      .msg {
        margin: 20px;
        text-align: center;
      }

      .msg > h1 {
        color: dodgerblue;
        margin: 2%;
      }
      th,
      tr,
      td {
        text-align: center;
      }

      table {
        margin: 0 auto;
        width: 50%;
        border: 1px solid darkslategray;
      }
      th,
      td {
        text-align: center;
      }
      th {
        background: darkslategray;
        color: white;
      }
      table,
      th,
      tr {
        border-collapse: collapse;
      }
      th:last-child {
        text-align: center;
      }

      td:nth-child(4),
      td:last-child {
        text-align: center;
      }

      tr {
        border-bottom: 1px solid darkslategray;
      }

      td {
        padding: 2%;
      }
    </style>
  </head>

  <body>
    <header class="header">
      <h1>Nearluk pvt. ltd.</h1>
      <nav class="navbar">
        <ul>
          <p style="color: white">
            Welcome,<span style="color: lightgreen"> <%= user.name %> </span>
          </p>
          <li><a href="/">Home</a></li>
          <li><a href="/chat/<%= user._id %>">Chat</a></li>
          <li>
            <form action="/user/logout" method="post">
              <button type="submit">Logout</button>
            </form>
          </li>
        </ul>
      </nav>
    </header>
    <br />
    <h2 style="text-align: center; color: darkblue">
      Users not in friends list:
    </h2>
    <table>
      <tr>
        <th>User Name</th>
        <th>Action</th>
      </tr>
      <% if (nonContacts.length > 0) { %>
       
        <% nonContacts.forEach(nonContact => { %>
          <tr>
            <td>
              <%= nonContact.name %>
            </td>
            <td>
              <button 
              onClick="requestHandler('<%= user._id%>', '<%= user.name%>','<%= nonContact.id %>', '<%= nonContact.name %>')"
              >
              Send Request
            </button>
          </td>
        </tr>
        <% }) %>
        <% } else { %>
          <tr>
            <td colspan="2">No new users</td>
          </tr>

        <% } %>  

    </table>



    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io();
      function requestHandler(senderId, senderName, receiverId, recepient) {
        location.reload()
        return socket.emit('contactRequest', {
          sender: senderName,
          recepient: recepient,
          requestFrom: senderId,
          receiver: receiverId,
        });
      }
    </script>

    <br />
    <br />

    <hr />
    <br />

    <h2 style="text-align: center; color: darkblue">Invites sent:</h2>
    <table>
      <tr>
        <th>Invitation to</th>
        <th>Status</th>
      </tr>
        <% contacts.forEach((contact) => { %> 
          <% if (contact.requestFrom == user.id) { %>
            <% if (contact.isAccepted) { %>
              <tr>
                <td><%= contact.recepient %></td>
                <td>Accepted</td>
              </tr>
              <% } else if(!contact.isAccepted) { %>
              <tr>
                <td><%= contact.recepient %></td>
                <td>Pending</td>
              </tr>
              <% } %>     
           <% } %>
        <% }) %>
    </table>
    <br />
    <br />
    <hr />
    <br />

    <h2 style="text-align: center; color: darkblue">Requests received:</h2>
    <table>
      <tr>
        <th>Sender name</th>
        <th colspan="2">Action / status</th>
      </tr>
      
        <% contacts.forEach((contact) => { %> 
          <% if (contact.receiver == user.id) { %>
            <% if (contact.isAccepted) { %>
              <tr>
              <td><%= contact.sender %></td>
              <td>Accepted</td>
              </tr>
              <% } else if(!contact.isAccepted) { %>
              <tr>

              <td><%= contact.sender %></td>
              <td colspan="2">
                <button  onClick="acceptHandler('<%= contact.requestFrom %>', '<%= user.id%>')">
                  Accept
                </button>
                <button  onClick="rejectHandler('<%= contact.requestFrom %>', '<%= user.id%>')">
                  Reject</button>
              </td>
              </tr>
              <% } %>     
           <% } %>
        <% }) %>

      <script>
      function acceptHandler(inviteId, receiverId) {
          location.reload()
           return socket.emit('acceptRequest', { inviteId, receiverId });
      }

      function rejectHandler(inviteId, receiverId) {
          location.reload()
           return socket.emit('rejectRequest', { inviteId, receiverId });
      }
      </script>
    </table>
  </body>
</html>
